* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.game-container {
  margin-top: 5%;
  position: relative;
  width: 100%;
  height: 90%;
  background-image: url("../images/1950.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;
}

.ball {
  position: absolute;
  font-size: 50px;
  user-select: none;
  animation: ballFly 2s linear forwards infinite;
}

.clickable-area {
  position: absolute;
  bottom: 5%;
  left: 42%;
  width: 29%;
  height: 37%;
  transform: translate(-50%, 0);
  cursor: pointer;
}

.bat {
  position: absolute;
  width: 8%;
  height: 135%;
  bottom: 0;
  background-color: #814200;
  transform-origin: bottom;
  transform: rotate(75deg);
}

.clickable-area:hover .bat {
  animation: batMove 0.75s alternate infinite;
}

@keyframes ballFly {
  0% {
    transform: translateX(0vw) translateY(68vh) rotate(0deg);
  }
  50% {
    transform: translateX(50vw) translateY(68vh) rotate(180deg);
  }
  100% {
    transform: translateX(100vw) translateY(68vh) rotate(360deg);
  }
}

@keyframes batMove {
  0% {
    bottom: 0;
    transform: rotate(75deg);
  }
  100% {
    bottom: 8%;
    transform: rotate(65deg);
  }
}

.hit-ball {
  width: 700px;
  animation: ballHit 1.1s ease-in;
  user-select: none;
}

@keyframes ballHit {
  0% {
    transform: translateX(45vw) translateY(68vh) rotate(0deg);
    font-size: 50px;
  }
  100% {
    transform: translateX(30vw) translateY(100vh) rotate(150deg);
    font-size: 0px;
  }
}
